<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{main}">
<div layout:fragment ="site_content">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{/saveItem}" method="post">
                <input type="hidden" name="ItemID" th:value="${item.id}">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="ItemName" th:value="${item!=null?item.name:' '}">
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <input type="number" class="form-control" name="ItemPrice" value="0" max="100000" min="0" th:value="${item!=null?item.price:'0'}">
                </div>
                <div class="form-group">
                    <label>Amount:</label>
                    <input type="number" class="form-control" name="ItemAmount" value="0" max="100000" min="0" th:value="${item!=null?item.amount:'0'}">
                </div>
                <div class="form-group">
                    <label th:text="#{label.country}"></label>
                    <select class="form-control" name="country_id">
                        <option th:each="cnt :${countries}" th:text = "${cnt.name} + ' - ' + ${cnt.code}" th:value="${cnt.id}" th:selected="${item!=null && item.country!=null && item.id == cnt.id}"></option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <button class="btn btn-success" th:text="#{button.save}">
                    </button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger ml-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" th:text="#{button.delete}"></button>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form th:action= "${'/deleteItem'}" method="post">
                        <input type="hidden" name="ItemID" th:value="${item.id}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger"  th:text="#{button.delete}"></button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <table class="table table-striped">
                <tbody>
                <tr th:each="cat: ${item.category}">
                    <td th:text = " ${cat.name}">
                    </td>
                    <td width="10%">
                        <button class="btn btn-danger btn-sm">-</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 offset-3">
            <table class="table table-striped">
                <tbody>
                    <tr th:each="cat : ${categories}">
                        <form th:action = "@{/assigncategory}" method="post">
                        <input type="hidden" th:value="${item.id}" name="item_id">
                        <input type="hidden" th:value="${cat.id}" name="category_id">
                        <td th:text = " ${cat.name}">
                        </td>
                        <td width="10%">
                            <button class="btn btn-success btn-sm">+</button>
                        </td>
                        </form>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>
